/* Style.css
 *
 * This file includes common css attributes. These attributes can be used for any components. 
 * Please add common css attributes here. 
 */


/*  CSS pseudo-class */
:root {
  --greyish: #b6b6b6;
  --black: #222222;
  --white: #ffffff;
  --white-two: #dddddd;
  --dark-grey: #1e1f21;
  --warm-grey: #a1a1a1;
  --greyish-brown: #525252;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;
  --contents-md: 880px;
  --contents-lg: 1880px;
}


/* Color */
.text-white         { color: #ffffff !important; }
.text-white-two     { color: #dddddd !important; }
.text-black         { color: #222222 !important; }
.text-greyish       { color: #b6b6b6 !important; }
.text-dark-grey     { color: #1e1f21 !important; }
.text-warm-grey     { color: #a1a1a1 !important; }
.text-greyish-brown { color: #525252 !important; }
.text-primary1           { color: #9E1E65 !important; }
.text-primary2           { color: #C95A97 !important; }
.text-primary3           { color: #D671A9 !important; }


/* Background Color */
.background-white      { background-color: #ffffff !important; }
.background-white-two  { background-color: #dddddd !important; }
.background-black      { background-color: #222222 !important; }
.background-greyish    { background-color: #b6b6b6 !important; }
.background-dark-grey    { background-color: #1e1f21 !important; }
.background-warm-grey    { background-color: #a1a1a1 !important; }
.background-greyish-brown    { background-color: #525252 !important; }

/* Border Color */
.border-white-two       { border-color: #dddddd !important; }
.border-greyish-brown   { border-color: #525252 !important; }


/* Margin */
.Mt1        {   margin-top: 1%;       }
.Mt1-5      {   margin-top: 1.5%;     }
.Mt2        {   margin-top: 2%;       }
.Mt2-5      {   margin-top: 2.5%;     }
.Mt3        {   margin-top: 3%;       }
.Mt3-5      {   margin-top: 3.5%;     }
.Mt4        {   margin-top: 4%;       }
.Mt4-5      {   margin-top: 4.5%;     }
.Mt5        {   margin-top: 5%;       }
.Mt5-5      {   margin-top: 5.5%;     }

.Mb1        {   margin-bottom: 1%;    }
.Mb1-5      {   margin-bottom: 1.5%;  }
.Mb2        {   margin-bottom: 2%;    }
.Mb2-5      {   margin-bottom: 2.5%;  }
.Mb3        {   margin-bottom: 3%;    }
.Mb3-5      {   margin-bottom: 3.5%;  }
.Mb4        {   margin-bottom: 4%;    }
.Mb4-5      {   margin-bottom: 4.5%;  }
.Mb5        {   margin-bottom: 5%;    }
.Mb5-5      {   margin-bottom: 5.5%;  }

.Mr1        {   margin-right: 1%;     }
.Mr1-5      {   margin-right: 1.5%;   }
.Mr2        {   margin-right: 2%;     }
.Mr2-5      {   margin-right: 2.5%;   }
.Mr3        {   margin-right: 3%;     }
.Mr3-5      {   margin-right: 3.5%;   }
.Mr4        {   margin-right: 4%;     }
.Mr4-5      {   margin-right: 4.5%;   }
.Mr5        {   margin-right: 5%;     }
.Mr5-5      {   margin-right: 5.5%;   }

.Ml1        {   margin-left: 1%;      }
.Ml1-5      {   margin-left: 1.5%;    }
.Ml2        {   margin-left: 2%;      }
.Ml2-5      {   margin-left: 2.5%;    }
.Ml3        {   margin-left: 3%;      }
.Ml3-5      {   margin-left: 3.5%;    }
.Ml4        {   margin-left: 4%;      }
.Ml4-5      {   margin-left: 4.5%;    }
.Ml5        {   margin-left: 5%;      }
.Ml5-5      {   margin-left: 5.5%;    }

